.header {
  font-size: 3em;
  margin: 0;
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us-text {
  color: white;
}

.contact-us-text:hover {
  color: white;
}

@media only screen and (max-width: 429px) {
  h1,
  .header {
    font-size: 1em;
  }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #663399 !important;
  border-color: #005cbf !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #de668b !important;
  border-color: #007bff !important;
}
